.serviceContainer {
  height: 700px;
  width: 100%;

  .serviceWrapper {
    margin: 45px 0;
    padding: 45px 140px;
    height: 479px;

    .serviceHeader {
      h1 {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        span {
          font-family: "MyCustomFont", sans-serif;
          font-weight: 400;
          line-height: 35px;
          font-size: 64px;
          color: red;
        }
      }
      p {
        margin: 24px 0;
        font-size: 18px;
        font-weight: 500;
   
  color: var(--pricing-text-color);

      }
    }
    .service {
      margin: 24px 0 ;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      font-family: "Inter", sans-serif;
      margin-bottom: 20px;
      .serviceItem {
        width: 250px;
        display: flex;
        flex-direction: column;
        .name {
          font-size: 20px;
          font-weight: 500;
          white-space: nowrap;
          margin-right: 10px;
          font-family: "Manrope", sans-serif;
        }
        p{
               font-family: "Manrope", sans-serif;
               font-size: 14px;
                font-weight: 300;
                color: var(--pricing-text-color);
        }
      }
    }

    .dots {
      width: 100%;
      flex-grow: 1;
      height: 1px;
      border-bottom: 1px dashed #ccc;
      margin: 0 10px;
    }

    .price {
      white-space: nowrap;
      background-color: #1e1e1e;
      color: white;
      padding: 3px 8px;
      border-radius: 4px;
     
 
   
    }
 
    .newprice{
          white-space: nowrap;
      margin: 0 10px;
    color: white;
      padding: 3px 8px;
      border-radius: 4px;
      background-color: red;
    }
  }
  .service .price:first-of-type {
  text-decoration: line-through;
}
}
