.homepageContainer {
  .homepagewrapper {
    width: 100%;
    height: 100%;
    .homepageContent {
      img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      }
    }
  }
  .vectors {
    width: 100%;
    height: 100vh;
    background-color: rgba(221, 207, 196, 0.45);
  }
}
