.AboutComponent .aboutContent {
  margin: 144px 0 0 0;
  width: 100%;
}
.AboutComponent .aboutContent .aboutText {
  padding: 0 144px;
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 0 148px 0;
}
.AboutComponent .aboutContent .aboutText h1 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 68px;
  color: var(--color-text);
  margin: 0 0 44px 0;
  width: 62.931034%;
}
.AboutComponent .aboutContent .aboutText .content {
  margin: 30px 0;
  display: flex;
  align-items: flex-start;
  height: auto;
  gap: 15px;
}
.AboutComponent .aboutContent .aboutText .content .iconimg img {
  border: 1px solid rgb(152, 152, 152);
  border-radius: 50%;
  padding: 5px;
}
.AboutComponent .aboutContent .aboutText .content .textItem h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.AboutComponent .aboutContent .aboutText .content .textItem p {
  margin: 8px 0;
  width: 82.236842%;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  color: var(--color-text-secondary);
  font-weight: 400px;
}
.AboutComponent .aboutContent .aboutWrapper {
  padding: 0 144px;
  height: 550px;
  display: flex;
}
.AboutComponent .aboutContent .aboutWrapper .img {
  margin: 0 47px 0 0;
}
.AboutComponent .aboutContent .aboutWrapper .text {
  height: 412px;
}
.AboutComponent .aboutContent .aboutWrapper .text h1 {
  width: 80%;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 68px;
  color: var(--color-text);
  margin: 0 0 44px 0;
}
.AboutComponent .aboutContent .aboutWrapper .text p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text-secondary);
  padding: 0 45px 0 0;
  margin: 0 0 24px 0;
  line-height: 35px;
}
.AboutComponent .aboutContent .counterWrapper {
  padding: 0 144px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: auto;
}
.AboutComponent .aboutContent .counterWrapper .counter {
  margin: 144px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  height: 147px;
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid rgb(189, 189, 189);
}
.AboutComponent .aboutContent .counterWrapper .counter h1 {
  margin: 10px 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: var(--color-text);
  border: 1px underline rgb(8, 1, 1);
}
.AboutComponent .aboutContent .counterWrapper .counter .counterText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AboutComponent .aboutContent .counterWrapper .counter p {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text-secondary);
}
.AboutComponent .aboutContent .counterWrapper .counter h2 {
  font-weight: 700;
  font-size: 24px;
}
.AboutComponent .aboutContent .Choose {
  padding: 0 144px;
  justify-content: space-around;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.AboutComponent .aboutContent .Choose .Choosewrapper .title {
  display: flex;
  margin: 0 0 44px 0;
}
.AboutComponent .aboutContent .Choose .Choosewrapper .title h1:nth-child(1) {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  color: var(--color-text);
}
.AboutComponent .aboutContent .Choose .Choosewrapper .title h1:nth-child(2) {
  font-family: "MyCustomFont", sans-serif;
  font-weight: 400;
  line-height: 35px;
  font-size: 64px;
  color: red;
}
.AboutComponent .aboutContent .Choose .Choosewrapper .contentconteiner {
  display: flex;
  gap: 15px;
}
.AboutComponent .aboutContent .Choose .Choosewrapper .contentconteiner .Choosetext h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.AboutComponent .aboutContent .Choose .Choosewrapper .contentconteiner .Choosetext p {
  margin: 8px 0;
  width: 82.236842%;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  color: var(--color-text-secondary);
  font-weight: 400px;
}

@media screen and (max-width: 1500px) {
  .AboutComponent .aboutContent .aboutWrapper .text p {
    margin: 0;
  }
}
@media screen and (max-width: 1350px) {
  .AboutComponent .aboutContent .aboutText {
    padding: 0 120px;
  }
  .AboutComponent .aboutContent .aboutText .imgConteiner {
    display: none;
  }
  .AboutComponent .aboutContent .aboutWrapper {
    height: auto;
    padding: 0 120px;
  }
  .AboutComponent .aboutContent .aboutWrapper .text h1 {
    margin: 0 0 10px 0;
  }
  .AboutComponent .aboutContent .aboutWrapper .text p {
    margin: 0;
  }
  .AboutComponent .aboutContent .Choose {
    padding: 0 120px;
  }
  .AboutComponent .aboutContent .Choose .Choosewrapper .title {
    align-items: center;
  }
}
@media screen and (max-width: 1250px) {
  .AboutComponent .aboutContent .aboutWrapper {
    margin: 20px 0;
    background-image: url("../../assets/About/Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  .AboutComponent .aboutContent .aboutWrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 214, 153, 0.8);
  }
  .AboutComponent .aboutContent .aboutWrapper .text {
    margin: 20px 0;
    padding: 63px 20px;
    height: 100%;
    color: rgb(82, 82, 82);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .AboutComponent .aboutContent .aboutWrapper .text h1 {
    color: rgb(82, 82, 82);
  }
  .AboutComponent .aboutContent .aboutWrapper .text p {
    margin: 0;
    color: rgb(82, 82, 82);
  }
  .AboutComponent .aboutContent .img {
    display: none;
  }
  .AboutComponent .counterWrapper .counter h1 {
    font-size: 20px;
  }
  .AboutComponent .Choose {
    flex-direction: column-reverse;
  }
  .AboutComponent .Choose .Choosewrapper .img {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .AboutComponent .aboutContent {
    margin: 50px 0 0 0;
  }
  .AboutComponent .aboutContent .aboutText {
    padding: 0 28px;
  }
  .AboutComponent .aboutContent .aboutText h1 {
    width: 100%;
  }
  .AboutComponent .aboutContent .aboutText .imgConteiner {
    display: none;
  }
  .AboutComponent .aboutContent .aboutWrapper {
    padding: 0 20px;
  }
  .AboutComponent .aboutContent .aboutWrapper .text p {
    margin: 0;
  }
  .AboutComponent .aboutContent .counterWrapper {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .AboutComponent .aboutContent .counterWrapper .counter {
    margin: 0;
    width: 100%;
  }
  .AboutComponent .aboutContent .counterWrapper .counter h1 {
    font-size: 20px;
  }
  .AboutComponent .aboutContent .Choose {
    padding: 0 20px;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .AboutComponent .aboutContent .aboutText h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .AboutComponent .aboutContent .aboutText .content .textItem h2 {
    font-size: 20px;
  }
  .AboutComponent .aboutContent .aboutText .content .textItem p {
    width: 100%;
  }
  .AboutComponent .aboutContent .aboutWrapper .text {
    padding: 63px 0;
  }
  .AboutComponent .aboutContent .aboutWrapper .text p {
    padding: 0;
  }
  .AboutComponent .aboutContent .aboutWrapper .text h1 {
    width: 100%;
  }
  .AboutComponent .aboutContent .counterWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .AboutComponent .aboutContent .counterWrapper .counter {
    margin: 0;
    width: 100%;
  }
  .AboutComponent .aboutContent .counterWrapper .counter h1 {
    font-size: 15px;
  }
  .AboutComponent .aboutContent .Choose {
    flex-direction: column-reverse;
  }
  .AboutComponent .aboutContent .Choose .imgtwo {
    width: 100%;
  }
  .AboutComponent .aboutContent .Choose .imgtwo svg {
    width: 100%;
    height: auto;
  }
  .AboutComponent .aboutContent .Choose .Choosewrapper .title {
    flex-direction: column;
    align-items: flex-start;
  }
  .AboutComponent .aboutContent .Choose .Choosewrapper .title h1:nth-child(1) {
    line-height: 50px;
    font-size: 30px;
  }
  .AboutComponent .aboutContent .Choose .Choosewrapper .title h1:nth-child(2) {
    line-height: normal;
    width: 100%;
    align-items: flex-start;
    font-size: 54px;
  }
  .AboutComponent .aboutContent .Choose .Choosewrapper .contentconteiner .Choosetext p {
    width: 100%;
  }
  .AboutComponent .aboutContent .Choose .Choosewrapper .contentconteiner .Choosetext h2 {
    font-size: 20px;
  }
}/*# sourceMappingURL=about.module.css.map */