.Login {
  width: 100%;
  height:calc(100vh - 130px);
  .loginWrapper {
    display: flex;
    .imgbox {
      width: 50%;

      .img {
        background-image: url("../../assets/SignIn/Image.png");

        background-repeat: no-repeat;
 
    
        background-position: right;
        width: 100%;
        height:calc(100vh - 130px);
      }
    }

    .FormConteiner {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: calc(100vh - 130px);
      h1 {
        margin: 0 0 50px 0;
        font-family: "Manrope", sans-serif;
        font-weight: 500;
        font-style: 32px;
      }
      .LoginPart {
        display: flex;
        flex-direction: column;
        width: 472px;
        height: 288px;
        p {
          font-family: "Manrope", sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: rgba(101, 101, 101, 1);
        }
        .form {
          display: flex;
          flex-direction: column;

          align-items: flex-start;

          .formWrapper {
            width: 100%;
              display: flex;
          flex-direction: column;
          gap:24px;
            .error {
            color: rgba(185, 0, 0, 1);
            font-size: 12px;
            font-family: "Manrope", sans-serif;
            margin-top: -15px;
          }
         
          }
     
          .submitButtonDisabled {
            border-radius: 4px;
            background-color: rgba(224, 224, 224, 1);
            color: rgba(152, 152, 152, 1);
            cursor: not-allowed;
            width: 100%;
            height: 56px;

            border: none;
            margin: 15px 0 0 0;
            &:active {
              transform: scale(1);
            }
          }
                .submitButton {
            border-radius: 4px;
            background-color: rgba(212, 163, 115, 1);
            color: white;
            width: 100%;
            height: 56px;
            cursor: pointer;
            border: none;
          }
        }
        input {
          padding: 13px;
          width: 100%;
          border: 1.5px solid rgba(82, 82, 82, 1);
          height: 45px;
          border-radius: 4px;
          &:nth-of-type(1) {
            margin: 16px 0 0px 0;
          }
       
        }
           .inputError{
            border: 1.8px solid red;
          }
      }
    }
  }
}
