.bookContainer {
  background-image: url("../../../assets/HomePage/Text\ input.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;

  .bookWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .bookContent {
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        color: white;
        font-weight: 400;
        font-size: 54px;
        font-family: "Italiana", sans-serif;
        text-align: center;
      }
      p {
        margin: 20px 0;
        color: #dcdcdc;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: white;
      }
    }
    button {
      cursor: pointer;
      border: none;
      border-radius: 4px;
      background-color: inherit;
      border: 1px solid #fbf7f2;
      height: 46px;
      width: 200px;
      color: white;
      &:hover {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }
    }
  }
  .bookimg{
    img{
       object-fit: cover;
    }
  }
}
