.experienceCounterContainer {
  height: 300px;
  width: 100%;
  background-image: url("../../../assets/HomePage/88ca81a2776d4cbede659345e40460fa5c769394.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .experienceCounterWrapper {
    padding: 30px 140px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      width: 340px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 18px;
        font-weight: 600;
        font-family: "Manrope", sans-serif;
        width: 30%;
        line-height: 32px;
      }
      p {
        font-size: 128px;
        font-weight: 300;
        font-family: "Manrope", sans-serif;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .experienceCounterContainer {
    .experienceCounterWrapper {
      padding: 30px 120px;
      // flex-direction: column;
      div {
        width: auto;
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  .experienceCounterContainer {
    height: auto;
    .experienceCounterWrapper {
      flex-direction: column;
      div{
        h1{
          width: 20%;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .experienceCounterContainer {
    height: auto;
    .experienceCounterWrapper {
      padding:0;
      flex-direction: column;
      div{
        h1{
          width: 20%;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .experienceCounterContainer {
    height: auto;
    .experienceCounterWrapper {
      padding:0;
      flex-direction: column;
      div{
        h1{
          width: 25%;
        }
      }
    }
  }
}
