.headerContainer a {
  text-decoration: none;
  color: white;
}
.headerContainer .constacts {
  height: auto;
}
.headerContainer .constacts .header {
  display: flex;
  color: #292929;
  font-size: 15px;
  font-weight: 300;
  border-bottom: 0.5px solid rgb(220, 220, 220);
}
.headerContainer .constacts .header nav {
  border-bottom: 0.5px solid rgb(220, 220, 220);
  padding: 0 140px;
  height: 90px;
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-color: white;
  background-color: white;
}
@keyframes scrollDown {
  from {
    top: 60px;
  }
  to {
    top: 0px;
  }
}
.headerContainer .constacts .header .navList {
  list-style: none;
  display: flex;
  gap: 40px;
}
.headerContainer .constacts .header .navList .activeLink {
  text-decoration: underline;
}
.headerContainer .constacts .header .navList li {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  font-weight: 400;
}
.headerContainer .constacts .header .navList li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #292929;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(-50%);
  font-weight: 600;
}
.headerContainer .constacts .header .navList li:hover {
  font-weight: 500;
}
.headerContainer .constacts .header .navList li:hover::after {
  width: 100%;
}
.headerContainer .constacts .header .navList .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.headerContainer .constacts .header .navList .navlink {
  position: relative;
}
.headerContainer .constacts .header .navList .navlink::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #292929;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(-50%);
  font-weight: 600;
}
.headerContainer .constacts .header .navList .navlink:hover {
  font-weight: 500;
}
.headerContainer .constacts .header .navList .navlink:hover::after {
  width: 100%;
}
.headerContainer .constacts .header .navList .activeLink {
  position: relative;
}
.headerContainer .constacts .header .navList .activeLink::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #292929;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(-50%);
  font-weight: 600;
}
.headerContainer .constacts .header .navList .activeLink:hover {
  font-weight: 500;
}
.headerContainer .constacts .header .navList .activeLink:hover::after {
  width: 100%;
}
.headerContainer .constacts .header .login {
  color: #000;
  cursor: pointer;
  width: 381px;
  display: flex;
  justify-content: flex-end;
}
.headerContainer .constacts .fixedScrolled nav {
  border-bottom: 0.5px solid rgb(220, 220, 220);
  position: fixed;
  top: 0;
  width: 100%;
  animation: scrollDown 0.3s forwards;
}/*# sourceMappingURL=header.module.css.map */