.headerContainer {
  a {
    text-decoration: none;
    color: white;
  }

  .constacts {
    height: auto;

    .header {
      display: flex;
      color: var( --color-text);
      font-size: 15px;
      font-weight: 300;
    border-bottom: 0.5px solid var(--color-border);
      nav {
        border-bottom: 0.5px solid var(--color-border);
        padding: 0 140px;
        height: 90px;
        z-index: 100;
        display: flex;
       
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-color:   var(--color-border);
        background-color: var(--color-bg);

        @keyframes scrollDown {
          from {
            top: 60px;
          }
          to {
            top: 0px;
          }
        }
      }

      .navList {
        list-style: none;
        display: flex;
        gap: 40px;
.activeLink{
  text-decoration: underline;
}
        li {
          position: relative;
          cursor: pointer;
          padding: 5px 0;
               color: var( --color-text);
          font-weight: 400;
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            height: 2px;
            width: 0;
            background-color: var(--color-text);
            transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
            transform: translateX(-50%);
            font-weight: 600;
          }
          &:hover {
            font-weight: 500;
          }
          &:hover::after {
            width: 100%;
          }
        }
        .link{
          display: flex;
          align-items: center;
text-decoration: none;
color:  var( --color-text);
        }
        .navlink{
   
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            height: 2px;
            width: 0;
            background-color: var(--color-text);
            transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
            transform: translateX(-50%);
            font-weight: 600;
          }
          &:hover {
            font-weight: 500;
          }
          &:hover::after {
            width: 100%;
          }
        }

.activeLink{
position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-text);
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateX(-50%);
    font-weight: 600;
  }
  &:hover {
    font-weight: 500;
  }
  &:hover::after {
    width: 100%;
  }
}

      }

      .login {
        color: #000;
        cursor: pointer;
        width: 381px;
        display: flex;
        justify-content: flex-end;
      }
    }

    .fixedScrolled {
      nav {
    
            border-bottom: 0.5px solid var(--color-border);
        position: fixed;
        z-index: 1200;
        top: 0;
        width: 100%;
        animation: scrollDown 0.3s forwards;
      }
    }
  }
}
