.conteiner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .textslide {
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content: center;

    .text {
      width: 650px;
      height: 400px;
      padding: 10px;
      .title {
        font-weight: 400;
        display: flex;
        margin: 0 0 16px 0;
        h1 {
          font-family: "Italiana", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 40px;
        }
        h1:nth-child(2) {
          font-size: 64px;
          color: red;
          font-family: "MyCustomFont", sans-serif;
        }
      }
      .textSlider {
        width: 100%;
        .img {
  display: flex;


  .mySvg {
    width: 100%;      
    height: auto;      
    max-width: 300px;  
  }
}
        .textContent {
          height: 150px;
          p {
          font-family: "Manrope", sans-serif;

        color: rgba(98, 94, 92, 1);
            font-weight: 300;
            font-size: 18px;
              [data-theme="dark"] &{
                color:white;
              }
          }
          h2 {
            color: var(--color-text);
            padding: 14px 0 0 0;

            font-weight: 400;
            font-size: 18px;
          }
        }
      }
    }
  }
}
.swiper-pagination {
  bottom: -30px !important;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .conteiner {
    height: auto;
    .textslide {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 700px) {
  .conteiner {
 padding: 0 28px ;
   
  }
}

@media screen and (max-width: 700px) {
  .conteiner {
svg{
  width: 100%;
  height: auto;
}
    .textslide {
      width: 100%;
      .text {
   width: 100%;

        .title {
          flex-direction: column;
          h1 {
            font-size: 30px;
          }
          h1:nth-child(2) {
            font-size: 54px;
            color: red;
            font-family: "MyCustomFont", sans-serif;
          }
        }
      }
    }
  }
}
