.contactConteiner {
  width: 100%;
  height: auto;


  .ContactWrapper {
    padding: 0 140px 0 0;
    display: flex;
    width: 100%;
    height: auto;
    .img {
      height: 100%;
    }
    .formPart {
      h1 {
        text-align: center;
        margin: 0 0 56px 0;
        font-size: 32px;
        font-weight: 500;
        font-family: "Manrope", sans-serif;
      }
      p {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: var(--color-text);
      }
      width: 100%;
      height: auto;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      .formWrapper {
        width: 500px;
        height: 600px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        input {
          background-color: var(--input-color);
          border-radius: 4px;
          padding: 13px;
          border: 2.5px solid rgba(152, 152, 152, 1);
          margin: 5px 0 24px 0;
          width: 100%;
          height: 45px;
          display: flex;
          gap: 24px;
          color: var(--color-text);
          [data-theme="dark"] & {
            border: 2.5px solid #3a3b3c;
          }
          [data-theme="dark"] &:focus {
            border: 2.5px solid var(--color-border);
            background-color: #2c2c2c;
            outline: none;
          }
          &:nth-of-type(3){
            padding: 0 45px 0 0;
            &::placeholder{
                 padding: 0 45px 0 0;
            }
          }
        }

        .inputError {
          border: 2.5px solid red;
        }
        .error {
          color: rgba(185, 0, 0, 1);
          font-size: 12px;
          font-family: "Manrope", sans-serif;
          margin-top: -15px;
          &:last-of-type {
            margin-top: 0;
          }
        }
        textarea {
          background-color: var(--input-color);
          border-radius: 4px;
          resize: none;
          width: 100%;
          height: 120px;
          padding: 13px;
          border: 2.5px solid rgba(152, 152, 152, 1);
          color: var(--color-text);
          [data-theme="dark"] & {
            border: 2.5px solid #3a3b3c;
          }
          [data-theme="dark"] &:focus {
            border: 2.5px solid #555;
            outline: none;
            background-color: #2c2c2c;
          }
        }
        .submitButton {
          border-radius: 4px;
          background-color: rgba(212, 163, 115, 1);
          color: white;
          width: 100%;
          height: 56px;
          cursor: pointer;
          border: none;
          margin: 15px 0 0 0;
        }
        .submitButtonDisabled {
          border-radius: 4px;
          background-color: rgba(224, 224, 224, 1);
          color: rgba(152, 152, 152, 1);
          cursor: not-allowed;
          width: 100%;
          height: 56px;

          border: none;
          margin: 15px 0 0 0;
          [data-theme="dark"] & {
            background-color: rgba(55, 55, 55, 1);
            color: white;
          }
          &:active {
            transform: scale(1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1360px) {
  .contactConteiner {
    .ContactWrapper {
      height: calc(100vh - 130px);
      padding: 0;
      .img {
        display: none;
      }
      .formPart {
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .contactConteiner {
    .ContactWrapper {
      background-image: url("../../assets/ContactUs/Image.png");

      height: calc(100vh);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }
      .formPart {
        h1 {
          margin: 0 0 30px 0;
          color: white;
        }
        p {
          color: white;
        }
        .formWrapper {
          border-radius: 20px;
          border: 1px solid #000;
          background: rgba(0, 0, 0, 0.4);
          backdrop-filter: blur(10px);
          padding: 20px;
          input,
          textarea {
            border: 1px solid #000;
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            color: white;
          }
        }

        z-index: 2;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .contactConteiner {
    
    .ContactWrapper {
      padding: 0 28px;
      .formPart {
        .formWrapper {
      
        }
      }
    }
  }
}
