*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'MyCustomFont';
  src: url('../src/./Fonts/CaramelloFree.otf') format('opentype'),
       url('../src/./Fonts/CaramelloFree.ttf') format('truetype');
   
  font-weight: normal;
  font-style: normal;
}
button:not(:disabled):active {
  
 transform: scale(0.9);
}


@import './styles/theme.css';

body {
  background: var(--color-bg);
  color: var(--color-text);
  transition: background 0.3s, color 0.3s;
}
.react-tel-input .flag-dropdown {
background-color: var(--input-color) !important;  

        border: 2.5px solid var(  --color-border)  !important;
    border-right: none !important;
      transition: none !important; 
    
}

  


.react-tel-input .form-control {
  padding-left: 45px !important; 
}

.react-tel-input .flag-dropdown.open .selected-flag {
    background-color: var(--input-color) !important;  
}
